<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.FieldMapper">

    <resultMap type="Field" id="FieldResult">
        <result property="fieldId"    column="field_id"    />
        <result property="fieldName"    column="field_name"    />
        <result property="fieldCode"    column="field_code"    />
        <result property="parentId"    column="parent_id"    />
        <result property="majorType"    column="major_type"    />
    </resultMap>

    <sql id="selectFieldVo">
        select field_id, field_name, field_code, parent_id, major_type from wx_field
    </sql>

    <select id="selectFieldList" parameterType="Field" resultMap="FieldResult">
        <include refid="selectFieldVo"/>
        <where>
            <if test="fieldName != null  and fieldName != ''"> and field_name like concat('%', #{fieldName}, '%')</if>
            <if test="fieldCode != null  and fieldCode != ''"> and field_code = #{fieldCode}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="majorType != null "> and major_type = #{majorType}</if>
        </where>
    </select>

    <select id="selectFieldByFieldId" parameterType="Long" resultMap="FieldResult">
        <include refid="selectFieldVo"/>
        where field_id = #{fieldId}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from wx_field
    </select>

    <insert id="insertField" parameterType="Field">
        insert into wx_field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">field_name,</if>
            <if test="fieldCode != null and fieldCode != ''">field_code,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="majorType != null">major_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">#{fieldName},</if>
            <if test="fieldCode != null and fieldCode != ''">#{fieldCode},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="majorType != null">#{majorType},</if>
        </trim>
    </insert>

    <update id="updateField" parameterType="Field">
        update wx_field
        <trim prefix="SET" suffixOverrides=",">
            <if test="fieldName != null and fieldName != ''">field_name = #{fieldName},</if>
            <if test="fieldCode != null and fieldCode != ''">field_code = #{fieldCode},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="majorType != null">major_type = #{majorType},</if>
        </trim>
        where field_id = #{fieldId}
    </update>

    <delete id="deleteFieldByFieldId" parameterType="Long">
        delete from wx_field where field_id = #{fieldId}
    </delete>

    <delete id="deleteFieldByFieldIds" parameterType="String">
        delete from wx_field where field_id in
        <foreach item="fieldId" collection="array" open="(" separator="," close=")">
            #{fieldId}
        </foreach>
    </delete>
</mapper>
